#grad {
    background-image: linear-gradient(to right, #cdafe0, #1d1045);
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#grad.container.text-center  {
    
}

.display-6.d-grid.gap-2 {
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.btn.btn-primary {
    margin-bottom: 25px;
}